<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短URL清单</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/rowColor.js"></script>
</head>
<body>
<div id="divVueApp">
    <table border="0" style="border: none">
        <tr style="height: 22px;">
            <td style="width: 80px; text-align: right">
                跳转地址：
            </td>
            <td>
                <input type="text" v-model="condition.url" style="width: 300px;" />
            </td>
        </tr>
        <tr style="height: 22px;">
            <td style="text-align: right">
                备注：
            </td>
            <td>
                <input type="text" v-model="condition.desc" style="width: 300px;" />
            </td>
        </tr>
        <tr style="height: 22px;">
            <td colspan="2">
                <input type="button" value="取消更新" @click="cancelUpdagte" v-show="condition.id>0">
                <input type="button" :value="btn" @click="addRecord">
                <input type="button" value="批量添加10个短网址" @click="addRecord10">
                注： 把短网址分享出去，或转成二维码分享出去 就可以了
            </td>
        </tr>
    </table>
    <table border="1" cellpadding="0" cellspacing="0">
        <tbody>
        <tr style="background-color: #fedcbd;">
            <th style="width: 300px;">短网址(可点击测试)</th>
            <th style="width: 400px;">跳转地址</th>
            <th style="width: 300px;">备注</th>
            <th style="width: 200px;">添加时间/IP</th>
            <th></th>
        </tr>
        <tr v-show="!arrData.length">
            <td colspan="5" style="text-align: center;">未找到数据</td>
        </tr>
        <tr v-for="item in arrData" onmouseover='onRowOver(this);' onmouseout='onRowOut(this);' onclick='onRowClick(this);'>
            <td><a target="_blank" :href="domain + convertToStr(item.id)">{{ domain }}{{ convertToStr(item.id) }}</a></td>
            <td><a target="_blank" :href="item.url">{{ item.url }}</a></td>
            <td>{{ item.desc }}</td>
            <td>
                <span style="color: blue;">{{ item.addtime }}</span> <br>
                {{ item.addip }}
            </td>
            <td><input type="button" value="编辑" @click="editRecord(item)"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var vueApp = new Vue({
        el: '#divVueApp',
        created: function () {
            let _vue = this;
            let url = location.href;
            let idx = url.indexOf('/', 10);
            if(idx > 0)
                url = url.substring(0, idx);
            _vue.domain = url + '?';

            _vue.loadData();
        },
        data: {
            domain: '',
            arrData: [],
            condition: {
                url: 'https://',
                desc: '',
                id: 0
            }
        },
        computed: {
            btn: function(){
                if(this.condition.id <= 0)
                    return '添加新的短网址';
                return '更新短网址';
            }
        },
        methods:{
            loadData: function(){
                let _vue = this;
                axios.get('/all').then(function(response){
                    _vue.arrData = response.data.reverse();
                }).catch(function (error) {
                    console.log(error.message);
                });
            },
            addRecord: function() {
                let _vue = this;

                if (_vue.condition.url.length <= 8) {
                    alert('请正确输入网址');
                    return;
                }
                _vue.addRecordReal(true, _vue);
            },
            addRecord10: function() {
                let _vue = this;

                if (_vue.condition.url.length <= 8) {
                    alert('请正确输入网址');
                    return;
                }
                if(this.condition.id > 0){
                    alert('更新时不能操作');
                    return;
                }
                for (let i = 0; i < 10; i++) {
                    _vue.addRecordReal(false, _vue);
                }
                setTimeout(function () {_vue.loadData();}, 3000);
            },
            addRecordReal: function(refresh, _vue) {
                let url = '/?id=' + _vue.condition.id + '&url=' + encodeURIComponent(_vue.condition.url) + '&desc=' + encodeURIComponent(_vue.condition.desc);
                axios.post(url).then(function (response) {
                    if (!refresh)
                        return;
                    _vue.cancelUpdagte();
                    if (response.data != '-1')
                        _vue.loadData();
                    else
                        alert('添加失败: url重复了');
                }).catch(function (error) {
                    if (error.response && error.response.data && error.response.data.message)
                        alert('添加失败:' + error.response.data.message);
                    else
                        alert('添加失败:' + error.message);
                });
            },
            editRecord: function(item) {
                this.condition.id = item.id;
                this.condition.url = item.url;
                this.condition.desc = item.desc;
            },
            cancelUpdagte: function() {
                this.condition.id = 0;
                this.condition.url = 'http://';
                this.condition.desc = '';
            },
            convertToStr: function(num) {
                let _arrChars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
                let n = _arrChars.length;

                let ret = '';
                do
                {
                    let perNum = (num % n);
                    num = Math.floor(num / n);
                    ret = _arrChars.charAt(perNum) + ret;
                } while (num > 0);
                if(ret.length >= 3)
                    return ret;

                ret = '00' + ret;
                return ret.substring(ret.length - 3);
            }
        }
    });
</script>
</body>
</html>